
.style {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 0 48px 30px;
    margin: 30px 459px 0;
    border: none;
    border-radius: 12px;
        }

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-top: px;
    }

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    color: white;
    margin-top: -8px;
    }

button {
    cursor: pointer;
    padding: 6px 32px;
    margin: 31px 5px 0;
    background-color: blueviolet;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 600;
    border-radius: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;

}

h4 {
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: 700;
    padding-top: 20px;
}


/* hover */

button:hover{
    background-color: #FFCC70 ;
    transform: scale(1.1);
}

/* responsive */

/* @media only screen and (min-width: 600px) and (max-width: 1100px) {
    body{
        display: none;
    }
} */

@media only screen and (min-width: 300px) and ( max-width: 600px){
    .style{
        margin: 0 10px;
    }
}


@media only screen and (min-width: 600px) and ( max-width: 1000px){
    .style{
        margin: 0 155px;
    }
    #buttons{
        padding-bottom: 15px;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1300px){
    .style{
        margin: 30px 298px 0;
    }
    #buttons{
        padding-bottom: 15px;
    }
}